body{
    padding: 0;
    margin: 0;
}

#id_div_pairs_list{
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: lightgray;
}

.p_pair{
    padding: 0;
    margin: 1px;
}

.p_pair_selected{
    padding: 0;
    margin: 1px;
    background: black;
    color: white;
}